<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>@ViewData["Title"] - MovieApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApp.styles.css" asp-append-version="true" />
    <title>Movie Details Form</title>
</head>

<body>
    <div>
        <header>
            <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="HomePage">MovieApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin"
                                    asp-action="Admin">Admin</a>
                            </li>
                            <li>
                                <form asp-controller="Login" asp-action="Logout" method="post">
                                    <button class="Logoutbtn" style="margin-left: 900px;" type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="contain">
        <h2>Movie Details</h2>
        <form method="post" asp-controller="Admin" asp-action="AdminControl">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="imdbID">imdbID:</label>
                <input type="text" id="imdbID" name="imdbID" required>
            </div>
            <div class="form-group">
                <label for="Year">Year:</label>
                <input type="number" id="year" name="year" required>
            </div>
            <div class="form-group">
                <label for="genre">Genre:</label>
                <input type="text" id="genre" name="genre" required>
            </div>
            <div class="form-group">
                <label for="director">Director:</label>
                <input type="text" id="director" name="director" required>
            </div>
            <div class="form-group">
                <label for="actors">Top 3 Actors:</label>
                <input type="text" id="actors" name="actors" required>
            </div>
            <div class="form-group">
                <label for="plot">Plot:</label>
                <textarea id="plot" name="plot" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
        @if (ViewBag.Message != null)
        {
            <script>
                alert("@ViewBag.Message");
            </script>
        }
    </div>
</body>

</html>
