@model List<MoviesInDB>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApp.styles.css" asp-append-version="true" />
</head>
<div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="HomePage" asp-action="HomePage">MovieApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (ViewBag.Role == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin"
                                    asp-action="Admin">AddMovies</a>
                            </li>
                        }
                        <li>
                            <form asp-controller="Login" asp-action="Logout" method="post">
                                <button class="Logoutbtn" style="margin-left: 900px;" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
<div class="HomePage">
    <div class="searchbtn">
        <form method="post" asp-controller="HomePage" asp-action="HomePage">
            <input class="rounded" type="text" name="request" placeholder="Search movies"><br>
            <button class="btn_btn-primary" type="submit">Search</button>
        </form>
        <br>
    </div>
    <button id="filterBtn">filter</button>
    <div id="filterDiv">
        <form method="get" id="filterForm" asp-controller="HomePage" asp-action="HomePage">
            <div class="row mb-3">
                <div class="col">
                    <label for="Year">Start Date:</label>
                    <input type="text" name="Year" class="form-control">
                </div>
            </div>
            <h1>Genre</h1>
            <br>
            <div class="d-flex flex-wrap">
                <div class="genreDiv">
                    <label style="margin-right: 20px;">
                        <input type="checkbox" name="genre" value="Action" />Action
                    </label>
                </div>
                <div class="genreDiv">
                    <label style="margin-right: 20px;">
                        <input type="checkbox" name="genre" value="Horror" />Horror
                    </label>
                </div>
                <div class="genreDiv">
                    <label style="margin-right: 20px;">
                        <input type="checkbox" name="genre" value="Thriller" />Thriller
                    </label>
                </div>
                <div class="genreDiv">
                    <label style="margin-right: 20px;">
                        <input type="checkbox" name="genre" value="Comedy" />Comedy
                    </label>
                </div>
                <div class="genreDiv">
                    <label style="margin-right: 20px;">
                        <input type="checkbox" name="genre" value="Romance" />Romance
                    </label>
                </div>
                <div class="genreDiv">
                    <label style="margin-right: 20px;">
                        <input type="checkbox" name="genre" value="Drama" />Drama
                    </label>
                </div>
            </div>
            <br>
            <button type="submit" id="filterSearch" class="button solid" style="color: black;">Search</button>
        </form>
    </div>
    <div class="movie-grid">
        @foreach (var item in Model)
        {
            <div class="movie-card">
                <a href="@Url.Action("Review", "Review", new { movieName = item.imdbID })"><img class="movie-poster"
                        src="@item.Poster" alt="Movie Poster" /></a>
                <div class="movie-details">
                    <h3 class="movie-title">@item.Title</h3>
                </div>
            </div>
        }
    </div>
</div>


<script>
    var filterDiv = document.getElementById("filterDiv");
    var filterBtn = document.getElementById("filterBtn");
    filterDiv.style.display = "none";
    filterBtn.addEventListener("click", function () {
        if (filterDiv.style.display === "none") {
            filterDiv.style.display = "block";
        } else {
            filterDiv.style.display = "none";
        }
    });
</script>
